
:root{
    --orange-dark:#ff7e29;
    --orange-light: orange;
    --dark-bg:black;
    --light-bg:orange;
    --text-darg-bg:orange;
    --text-light-bg:black;
    --default-padding:8px;
    --default-border-rad:10px;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
