.product-card-container{
    background: var(--light-bg);
    border-radius: var(--default-border-rad);
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    transition: all 0.5s;
    margin:20px;
}
.product-card-container:hover{
    width: 350px;
    height: 360px;
    margin-top:-1px;
    margin-left: -3px;
}