.display-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--dark-bg);
  padding: calc(3 * var(--default-padding));
  height: 330px;
  overflow: hidden;
  transition: all 0.3s;
}
.product-container > h1 {
  text-align: center;
  background: var(--dark-bg);
  padding: calc(3 * var(--default-padding));
  margin-bottom: -10px;
  margin-top: -1px;
}
.product-container > h1 > span {
  display: inline-block;
  width: 60px;
  padding-top:5px;
  border-radius: 30px;
  background: var(--light-bg);
  color: var(--text-light-bg);
  cursor: pointer;
  transition: all 0.3s;
}
.product-container > h1 > span > svg {
  width: 50px;
  height: 50px;
}
