.product-container{
  height:500px;
  transition: all 0.3s;
}

.display-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--dark-bg);
  padding: calc(3 * var(--default-padding));
  height: 400px;
  overflow: hidden;
  transition: all 0.3s;
}
.product-container > h1 {
  text-align: center;
  background: var(--dark-bg);
  padding: calc(3 * var(--default-padding));
  margin-bottom: -10px;
  margin-top: -1px;
}
.product{
  height: 360px;
  width: 360px;
}
.product-container > h1 > span {
  display: inline-block;
  width:60px;
  height:60px;
  border-radius: 10px;
  background: var(--light-bg);
  color: var(--text-light-bg);
  cursor: pointer;
  transition: all 0.5s;
}
.product-container > h1 > span > svg {
  width: 52px;
  height: 52px;
}
