.cart-products-container{
    border: 4px solid var(--text-darg-bg);
    color: var(--text-darg-bg);
    min-height: 70vh;
    margin:auto;
    width:60%;
    padding-top: 5px;
}
.cart-products-flex-container{
    
}
.cart-heading{
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-darg-bg);
    color: var(--text-light-bg);
    font-size:24px;
    font-weight:bold;
}
hr{
    color: var(--text-darg-bg);
    background-color: var(--text-darg-bg);
    margin-top: 5px;
    height: 4px;
}
.cart-product-flex-container{
    height: 80px;
    display:flex;
    align-items: center;
}
.cart-product-flex-container>span{
    text-align: center;
    display: inline-block;
    width: 28vw;
}